[flake8]
max-line-length = 127

ignore = E203,E501,W503,E402

exclude =
    .git,
    __pycache__,
    .ipynb_checkpoints,
    venv,
    env,
    .venv,
    .env,
    build,
    dist,
    *.egg-info,
    .pytest_cache,
    .mypy_cache

max-complexity = 10
show-source = True
count = True
statistics = True